

header{
    background-image: url("../images/building.mobile.webp");
}

nav > ul > li > a{
    font-size: 0;
}

h1{
    font-size: 32pt;
}

footer{
    text-align: center;
}

footer > dl{
    float: none;
    margin-bottom: 1rem;
}