

ul.margin{
    margin-left: 1rem;
}

li.button{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--colour-background-primary);
    transition: 300ms;
}

article ul.no-list li{
    display: block;
}

ul li.button a{
    text-decoration: none;
}

ul li.button:hover{
    border: 1px solid var(--colour-foreground);
}

li.button:active{
    transform: scale(0.95);
}

@supports (backdrop-filter: invert(10%))
{
    li.button
    {
        backdrop-filter: invert(10%)
    }
}